In [12]:
import requests
import pandas as pd
import os

In [13]:
endpoint = 'https://data.lacity.org/resource/2nrs-mtv8.json'

In [14]:
response = requests.get(url=endpoint,
             headers={"Accept":"application/json",
                      "X-App-Token":os.getenv('chicago_app_token')},
             params={'$where':"date_occ between '2022-01-10T00:00:00' and '2022-12-31T23:59:59'"},
             auth=(os.getenv('chicago_key_id'),os.getenv('chicago_key_secret'))
)

In [17]:
data = pd.json_normalize(data=response.json())

In [18]:
data.head()

,dr_no,date_rptd,date_occ,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,...,status_desc,crm_cd_1,location,lat,lon,cross_street,weapon_used_cd,weapon_desc,crm_cd_2,crm_cd_3
0,221104665,2022-01-18T00:00:00.000,2022-01-10T00:00:00.000,0830,11,Northeast,1142,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,Invest Cont,331,2100 RODNEY DR,34.11,-118.2893,NaN,NaN,NaN,NaN,NaN
1,220804331,2022-01-11T00:00:00.000,2022-01-10T00:00:00.000,1240,08,West LA,0848,1,510,VEHICLE - STOLEN,...,Adult Other,510,SHENANDOAH ST,34.0536,-118.4115,OLYMPIC BL,NaN,NaN,NaN,NaN
2,222104332,2022-01-11T00:00:00.000,2022-01-10T00:00:00.000,1200,21,Topanga,2102,1,310,BURGLARY,...,Invest Cont,310,8800 CHATLAKE DR,34.2298,-118.6472,NaN,NaN,NaN,NaN,NaN
3,220104769,2022-01-14T00:00:00.000,2022-01-10T00:00:00.000,2000,01,Central,0156,1,210,ROBBERY,...,Invest Cont,210,5TH ST,34.0446,-118.245,WALL,200,KNIFE WITH BLADE 6INCHES OR LESS,NaN,NaN
4,221505066,2022-01-24T00:00:00.000,2022-01-10T00:00:00.000,0030,15,N Hollywood,1535,2,354,THEFT OF IDENTITY,...,Invest Cont,354,11400 EMELITA ST,34.1767,-118.379,NaN,NaN,NaN,NaN,NaN